@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "View All Tours";
}
@model List<Tour>
    <section class="container-fluid" style="background-color: lightblue;">
        <div class="container py-5 h-100">
            <br /><br />
            <table class="table table-bordered table-striped" style="background-color: white;">

                <thead class="font-weight-bold">
                    <tr>
                        <td>Date</td>
                        <td>Group Name</td>
                        <td>Group Size</td>
                        <td>Email</td>
                        <td>Phone</td>
                        <td>Time</td>
                        <td></td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>

                    @if (Model?.Count() > 0)
                    {
                        @foreach (var x in Model)
                        {
                            <tr>
                                <td>@x.Slot.Month @x.Slot.Day</td>
                                <td>@x.GroupName</td>
                                <td>@x.GroupSize</td>
                                <td>@x.Email</td>
                                <td>@x.Phone</td>
                                <td>@x.Slot.Hour</td>
                                <td class="text-center"><a asp-controller="Home" asp-action="Edit" asp-route-tourid="@x.TourId" asp-route-slotid="@x.SlotId" class="btn btn-success">Edit</a></td>
                                <td class="text-center"><a asp-controller="Home" asp-action="Delete" asp-route-tourid="@x.TourId" asp-route-slotid="@x.SlotId" class="btn btn-success">Delete</a></td>
                            </tr>

                        }
                    }

                    else
                    {
                        <tr>
                            <td colspan="12" class="text-center">No Tours Booked</td>
                        </tr>
                    }
                </tbody>
            </table>
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
        </div>
    </section>